body {
    padding-top: 56px;
    
}


.back{
    background: #00cccc url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfRLKaE/videoblocks-hi-tech-technology-backgrounds-pack_beu4-jdyg_thumbnail-full10.png) no-repeat center fixed;
    background-size: 100% 100%;

}
.informacao{
    width: 70%;
    height: 500px;
    background-color: #cccccc;
    margin-top: 8.5%;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.9;
    
    margin-bottom: 2%;
    
    
    
}
.contatos h1{
    text-align: center;
    color: #000;
    opacity: 1.0;
    
}
.informacao h4{
    
     margin-left: 5%;
  
}

.informacao h5{
     margin-left: 7%;
     
}
.col-lg-4 {
    margin-top: 11%;
    
}

.my-4 img{
 
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    
}

.monitordell{
  margin-top: 2%;
    width: 70%;
    
}

.descricaodell{
    margin-top: 5%;
     height: 400px;
    width: 100%;
    background-color: #ffffff;
    
}
.descricaodell h3{
    text-align: center;
    padding: 2%;
    
}
.descricaodell h5{
    padding-left: 1%;
    
    
}
.descricaodell h6{
    padding-left: 2%;
    padding-right: 2%;
    
}
.especoficacao{
    
        margin-top: 5%;
     height: 450px;
    width: 100%;
    background-color: #ffffff;
}

.img{
    
    margin-top: 2%;
}
